:root {
  --color-bg: black;
  --color-active: slateblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

header {
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: rgb(53, 58, 63);
}

header a {
  color: white;

  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}

main a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;

  text-align: center;
}

footer {
  min-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
